
/* Regole generali */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: 'Abyssinica SIL', 'Lato', 'Raleway', serif;
    font-size: 16px;
}

/* Header */
header{
    text-align: center;
    padding:3%;
}

h1{
    color:rgba(221, 103, 152, 0.912);
    font-weight: 900;
    font-size:40;
}

.sub-header{
    margin: 3% 10%;
}


/* Main */
main{
    margin: 0 10%;
}


.box{
    float:left;
    margin:1%;
    padding-right: 3%;
    width: 30%;
    background-color: black;
    color:#fff;
    border-radius: 5px;
    box-shadow: 1px 3px 3px rgb(0, 0, 0);
}

.box img{
    height:100px;
    width:auto;
    float:left;
    margin-right:1%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.box.text{
    width:fit-content;
    line-height: 220%;
    font-size: 16px;
}

.box h5{
    font-size:20px;
}

.box::after{
    content:"";
    display:table;
    clear:both;
}

.box a{
    text-decoration:none;
    color:deepskyblue;
}
.box a:hover{
    color: crimson;
}
